# Python
__pycache__/
*.py[cod]
*$py.class

# Mac OS
.DS_Store

# Windows
desktop.ini

# Data & Models (No subir archivos pesados)
checkpoints/
outputs/
*.nii.gz
*.pth

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Anaconda project files
anaconda_projects/
